@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

:root {
  --with-color: #fdfdfd;
  --bg-color: #da291c; 
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  
}

.logo {
  font-size: 2.5rem;
  color: var(--with-color);
  font-weight: 600;
  /* margin-right: auto; */
}

.nav-center {
  font-size: 1.7rem;
  color: var(--with-color);
}

.nav-right {
  display: flex;
}

.nav-right .search-box {
  background: var(--with-color);
  width: 35rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.nav-right .search-box input {
  width: 100%;
  background: transparent;
  padding: 1rem;
  outline: none;
  border: 0;
  font-size: 1.7rem;
}

.nav-right .search-box svg {
  font-size: 1.7rem;
}

.nav-right .icon-box {
  display: flex;
  align-items: center;
}

.nav-right .icon-box svg {
  font-size: 2.4rem;
  color: var(--with-color);
  cursor: pointer;
  padding-left: 2rem;

}




