@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

:root {
  --with-color: #fdfdfd;
  --bg-color: #da291c; 
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* ===================== HEADER ==================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  
}

.logo {
  font-size: 2.5rem;
  color: var(--with-color);
  font-weight: 600;
  /* margin-right: auto; */
}

.nav-center {
  font-size: 1.7rem;
  color: var(--with-color);
}

.nav-right {
  display: flex;
}

.nav-right .search-box {
  background: var(--with-color);
  width: 35rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.nav-right .search-box input {
  width: 100%;
  background: transparent;
  padding: 1rem;
  outline: none;
  border: 0;
  font-size: 1.7rem;
}

.nav-right .search-box svg {
  font-size: 1.7rem;
}

.nav-right .icon-box {
  display: flex;
  align-items: center;
}

.nav-right .icon-box svg {
  font-size: 2.4rem;
  color: var(--with-color);
  cursor: pointer;
  padding-left: 2rem;
}

/* ===================== HOME ==================== */

.container-home {
  display: flex;
  width: 100%;
  margin-top: 8rem;
  background-color: #e7e7e7;
  height: 40rem;
  align-items: center;
}

.container-home .div-left {
  width: 25rem;
  height: 38rem;
  background: #a3a3a3;
}

/* ------------------ cartas del colegio -------------*/

.container-cole {
  padding: 5rem 4%;
  display: flex;
  gap: 2rem;
}

.container-cole .box-cole {
  display: flex;
  width: 37rem;
  padding: 2rem;
  background: var(--with-color);
  border: 2px solid #704bb2;
  background: #ecf2f2;
}

.box-cole .div-content {
  display: flex;
  flex-direction: column;
}

.container-cole .box-cole p {
  color: #7d7d7d;
  font-size: 1.7rem;
  font-weight: 400;
}

.container-cole .box-cole h2 {
  color: #242424;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: .5rem;
}

.box-cole .div-content button {
  margin-top: .5rem;
  padding: .5rem;
  font-size: 1.7rem;
  border: 2px solid #ff0808;
  border-radius: 3px;
  background: var(--with-color);
  cursor: pointer;
}

.box-cole .div-content > a:nth-of-type(1) {
  margin-top: .5rem;
  padding: .5rem;
  font-size: 1.7rem;
  text-decoration: none;
  border: 2px solid #10ff08;
  border-radius: 3px;
  background: var(--with-color);
  cursor: pointer;
}

.box-cole .div-content > a:nth-of-type(2) {
  margin-top: 2rem;
  padding: .5rem;
  font-size: 1.7rem;
  text-decoration: none;
  border: 2px solid #704bb2;
  border-radius: 5px;
  background: var(--with-color);
}

.container-cole .box-cole .div-img {
  width: 100%;
  /* background-color: #da291c; */
  display: flex;
}

.container-cole .box-cole .div-img img {
  width: 17vw;
  margin: auto;
}

/* -------------------REGISTER SCHOOL PAGE --------------------*/

.container-form-school {
  display: flex;
  flex-direction: column;
  margin: 12rem 4%;
  padding: 4rem;
  align-items: center;
  background: #a3a3a3;
}

.form-school {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-top: 2rem;
}

.form-school input {
  margin: .5rem;
  padding: 1rem;
  border: none;
}