@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

:root {
  --with-color: #fdfdfd;
  --main-color: #704bb2;

  --bg-color: hsl(230, 50%, 90%);
  --body--white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);

  --shadow-color: rgba(0, 0, 0, .2);

  /*-----------------*/
  --line-color: #c5cbc8;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #f7f7f7;
}

/* ===================== HEADER ==================== */

.header-article {
  display: flex;
  width: 100%;
  padding: 1.7rem 4%;
  justify-content: space-between;
  border-bottom: 1px solid #c5cbc8;
  align-items: center;
}

.header-article-content {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}

.header-article-content span {
  color: #c5cbc8;
}

.header-article-content a {
  text-decoration: none;
  color: #242424;
}

.header-article-h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #242424;
} 

.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  padding: 2rem 4%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  /* background: #7b2cbf; */
}

.header.sticky {
  background: #fdfdfd;
  box-shadow: 0 .1rem 1rem var(--shadow-color);
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: 2.5rem;
  color: #5a189a;
  font-weight: 600;
  /* margin-right: auto; */
}

.nav-center {
  font-size: 1.7rem;
  color: var(--main-color);
}

.nav-right {
  display: flex;
}

.nav-right .search-box {
  background: var(--with-color);
  width: 35rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: .5rem 1.5rem;
  border: 1px solid var(--main-color);
}

.nav-right .search-box input {
  width: 100%;
  background: transparent;
  padding: .8rem;
  outline: none;
  border: 0;
  font-size: 1.7rem;
}

.nav-right .search-box svg {
  font-size: 1.7rem;
  color: #5a189a;
}

.nav-right .icon-box {
  display: flex;
  align-items: center;
}

.nav-right .icon-box svg {
  font-size: 2.5rem;
  color: #5a189a;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 1rem;
}

.nav-right .icon-box span {
  font-size: 1.5rem;
  color: #242424;
  font-weight: 400;

}
/* ======================= HOME PAGE ========================= */

.container-home {
  display: flex;
  width: 100%;
  margin-top: 8rem;
  /* background-color: #e7e7e7; */
  height: 40rem;
  align-items: center;
}

.container-home .div-left {
  width: 50rem;
  height: 38rem;
  padding: 2rem 4%;
  font-size: 2rem ;
  /* background: #fdfdfd; */
}

.container-home .div-left h1 span {
  color: #7b2cbf;
}

 .subtitle-h3 {
  margin: 2rem 4%;
  font-size: 2rem;
  background: #fdfdfd;
  border-bottom: 2px solid #5a189a;
  padding: 1.5rem 0;
  color: #6a6a6a;
  font-weight: 400;
  border-radius: 5px;
}

/* --------------- cartas del colegio -------------*/

.container-cole {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1rem;
  padding: 2rem 4%;

}

.container-cole .box-cole {
  display: flex;
  /* width: 40rem; */
  padding: 1rem;
  background: #e0aaff;
  gap: 1rem;
  /* border: 2px solid #704bb2; */
  /* border-radius: 10px; */
  /* background: #ecf2f2; */
}


/* .container-cole .box-cole p {
  color: #7d7d7d;
  font-size: 1.7rem;
  font-weight: 400;
} */

.container-cole .content-cole {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.container-cole .box-cole .content-cole h2 {
  color: #242424;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: .5rem;
}

.box-cole .content-cole .div-button-cole {
  display: flex;
  margin-top: .5rem;
  gap: 3rem;
}

.box-cole .div-button-cole a {
  text-decoration: none;
  font-size: 1.7rem;
  padding: .5rem;
}

.box-cole .div-button-cole button {
  font-size: 1.7rem;
  padding: .5rem;
}

.box-cole .cole-enlace {
  margin-top: .5rem;
  padding: .5rem;
  font-size: 1.7rem;
  text-decoration: none;
  border: 2px solid #5a189a;
  border-radius: 3px;
  background: var(--with-color);
  cursor: pointer;
  text-align: center;

  /* width: 15rem; */
  
}

.container-cole .box-cole .figure-cole {
  text-align: center;
  /* background-color: #da291c; */
}

.container-cole .box-cole .figure-cole img {
  width: 100%;
}

/* ======================= REGISTER SCHOOL PAGE ================== */

.container-form-school {
  display: flex;
  flex-direction: column;
  margin: 4rem 4%;
  padding: 4rem;
  align-items: center;
  background: #fdfdfd;
}

.container-form-school h3 {
  font-size: 3rem;
  font-weight: 400;
}

.form-school {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-top: 2rem;
  gap: 1rem;
}

.form-school input {
  padding: 1rem;
  border: 1px solid var(--line-color);
  font-size: 1.5rem ;
}

.form-school button {
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 2rem;
  cursor: pointer;
}

/* ======================== UNIFORMS PAGE ======================== */

.filter-nav-uniform {
  display: flex;
  margin: 9rem 4% 1rem 4%;
  border-bottom: 1px solid #5a189a;
  background: #fdfdfd;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.filter-nav-uniform h4 {
  font-size: 2rem;
  font-weight: 400;
}

.filter-nav-uniform .order-box {
  position: relative;
  width: 25rem;
  /* height: 25rem; */
  /* background: yellow; */
}

.order-box .order-dropdown {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #fdfdfd;
  font-size: 2rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  border: 1px solid #5a189a;
}

.order-dropdown .order-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.order-dropdown .order-title h3 {
  font-size: 2rem;
  font-weight: 400;
}

.order-title .order-icon {
  display: flex;
  align-items: center;
}

.order-dropdown .left-icon,
.order-dropdown .right-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 3px;
  background: #5a189a;
  border-radius: 40px;
  transition: .5s;
}

.order-dropdown .left-icon {
  left: 6px;
  transform: rotate(45deg);
}

.order-dropdown.active .left-icon {
  transform: rotate(-45deg);
}

.order-dropdown .right-icon {
  transform: rotate(-45deg);
}

.order-dropdown.active .right-icon {
  transform: rotate(45deg);
}

.order-dropdown .order-items {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 16rem;
  /* background: #6a6a6a; */
  margin-top: 4rem;
  overflow: hidden;
  visibility: hidden;
  transition: .5s;
}

.order-dropdown.active .order-items {
  visibility: visible;
} 

.order-dropdown .order-items h4 {
  position: relative;
  left: 100%;
  display: flex;
  font-size: 2rem;
  background: #fdfdfd;
  color: #242424;
  padding: 1rem;
  margin-top: 2.5px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  transition-delay: calc(60ms * var(--i));
}

.order-dropdown.active .order-items h4 {
  left: 0;
}

.order-dropdown .order-items h4:hover {
  color: #fdfdfd;
}

.order-dropdown .order-items span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #e0aaff;
  z-index: -1;
  transform: rotate(160deg);
  transform-origin: right;
  transition: .5s;
}

.order-dropdown .order-items h4:hover span {
  transform: rotate(0deg);
}

.left-sidebar .sidebar-button {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  margin-top: 2rem;
}

/*---------container uniform ---------*/

.container-uniform {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4%;
}

.container-uniform .left-sidebar {
  display: flex;
  flex-direction: column;
  /* background: #cbdffa; */
  flex-basis: 20%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  gap: .5rem;
  background: #fdfdfd;
  padding: 1rem;
}

.left-sidebar .div-cole-title {
  display: flex;
  padding: 1rem 0 2rem 0;
  color: #5a189a;
  border-bottom: 1px solid var(--line-color);

}

.left-sidebar .div-cole-title h1 {
  font-size: 2rem;
}

.left-sidebar h5 {
  padding: 2rem 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: #242424;
  border-bottom: 1px solid var(--line-color);
}

/* prueba de los filtros ------------------------ */
.box {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: .5rem;
}

.box .dropdown-first {
  /* position: relative; e0aaff*/
  width: 100%;
  /* height: 6rem; */
  color: #242424;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in-out;
}

.box .dropdown-first .filter-title {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
}

.box .dropdown-first .filter-title h3 {
  font-weight: 400;
  color: #242424;
}

.box .dropdown-first .filter-title .filter-icon {
  display: flex;
}

.dropdown-first .left-icon,
.dropdown-first .right-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 3px;
  background: #5a189a;
  border-radius: 40px;
  transition: .5s;
}

.dropdown-first .left-icon {
  left: 6px;
  transform: rotate(45deg);
}
.dropdown-first.active .left-icon {
  transform: rotate(135deg);
}

.dropdown-first .right-icon {
  transform: rotate(-45deg);
}

.dropdown-first.active .right-icon {
  transform: rotate(-135deg);
} 

.dropdown-first .items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23rem;
  margin-top: 4.5rem;
  overflow-y: auto; /* Cambiado a 'auto' para permitir desplazamiento vertical */
  visibility: hidden;
  transition: .2s ease-in-out;
 
}

.dropdown-first.active .items {
  visibility: visible;
}

.dropdown-first.active {
  margin-bottom: 22.5rem;
}

.dropdown-first .items .filter-button {
  position: relative;
  transform: translateY(-100%); /* Inicia desplazado hacia arriba */
  display: flex;
  background: #fdfdfd;
  color: #242424;
  padding: .3rem 0;
  margin-top: 2.5px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;

  transition-delay: calc(60ms * var(--i));
  opacity: 0; /* Comienza invisible */
}

.dropdown-first.active .items .filter-button {
  /* top: 0; */
  transform: translateY(0%); /* Vuelve a su posición original */
  opacity: 1; /* Hace el elemento completamente visible */
}

.dropdown-first .items .filter-button:hover {
  color: #242424;
}

.dropdown-first .items .filter-button .div-span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dropdown-first .items .filter-button .span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e0aaff;
  z-index: -1;
  border-radius: inherit;
  transform: rotate(180deg);
  transform-origin: right;
  transition: .3s;
}

.dropdown-first .items .filter-button:hover .span {
  transform: rotate(0deg);
}

.box .div {
  display: flex;
  justify-content: space-between;
}

.box .content-span {
  display: flex;
  justify-content: space-between;
}

/* ------------------ second button ----------------*/
.box .dropdown-second {
  /* position: relative; */
  width: 100%;
  color: #242424;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in-out;
}

.box .dropdown-second .filter-title {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
}

.box .dropdown-second .filter-title h3 {
  font-weight: 400;
}

.box .dropdown-second .filter-title .filter-icon {
  display: flex;
}

.dropdown-second .left-icon,
.dropdown-second .right-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 3px;
  background: #5a189a;
  border-radius: 40px;
  transition: .5s;
}

.dropdown-second .left-icon {
  left: 6px;
  transform: rotate(45deg);
}
.dropdown-second.active .left-icon {
  transform: rotate(135deg);
}

.dropdown-second .right-icon {
  transform: rotate(-45deg);
}

.dropdown-second.active .right-icon {
  transform: rotate(-135deg);
} 

.dropdown-second .items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  margin-top: 4.5rem;
  overflow: hidden;
  visibility: hidden;
  transition: .2s ease-in-out;
 
}

.dropdown-second.active .items {
  visibility: visible;
}

.dropdown-second.active {
  margin-bottom: 14rem;
}

.dropdown-second .items .filter-button {
  position: relative;
  transform: translateY(-100%); /* Inicia desplazado hacia arriba */
  display: flex;
  background: #fdfdfd;
  color: #242424;
  padding: 1rem 0;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;

  transition-delay: calc(60ms * var(--i));
  opacity: 0; /* Comienza invisible */
}

.dropdown-second.active .items .filter-button {
  /* top: 0; */
  transform: translateY(0%); /* Vuelve a su posición original */
  opacity: 1; /* Hace el elemento completamente visible */
}

.dropdown-second .items .filter-button:hover {
  color: #242424;
}

.dropdown-second .items .filter-button input {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.dropdown-second .items .filter-button .div-span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dropdown-second .items .filter-button .span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e0aaff;
  z-index: -1;
  border-radius: inherit;
  transform: rotate(180deg);
  transform-origin: right;
  transition: .5s;
}

/* .dropdown-second .items .filter-button:hover .span {
  transform: rotate(0deg);
} */

.container-uniform .main-content {
  /* background: #cbdffa; */
  flex-basis: 78%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

/* ---------------- card uniform ----------------*/
.main-content .card-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.main-content .card-content .div-img {
  background: #6a6a6a;
  margin: auto;
  /* padding: .5rem; */
}

.main-content .card-content img {
  max-width: 100%;
}

.main-content .card-content .div-text {
  padding: .5rem;
}

.main-content .card-content .div-text h2, p {
  font-size: 1.7rem;
  color: #6a6a6a;
}

.main-content .card-content .div-price {
  padding: .5rem;
}

.main-content .card-content .div-price h3 {
  font-size: 1.7rem;
}

.main-content .card-content .div-button {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.card-content .div-button a {
  text-decoration: none;
  font-size: 1.7rem;
  padding: 1rem;
}

.card-content .div-button button {
  font-size: 1.7rem;
  padding: 1rem;
}

.card-content .icon-heart {
  height: 30px;
  width: 30px;
  cursor: pointer;
}


/* ======================= REGISTER UNIFORM PAGE ================== */

.container-form-uniform {
  display: flex;
  flex-direction: column;
  margin: 3rem 4%;
  padding: 4rem;
  align-items: center;
  background: #fdfdfd;
}

.container-form-uniform h3 {
  font-size: 3rem;
  font-weight: 400;
}

.container-form-uniform form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-top: 2rem;
  gap: 1rem;
}

.container-form-uniform form label {
  font-size: 1.7rem;
}

.container-form-uniform form select {
  cursor: pointer;
  border: 1px solid var(--line-color);
  padding: 1rem;
  font-size: 1.5rem;
}

.container-form-uniform form select:hover {
  border-color: #6a6a6a;
}

.container-form-uniform form select:focus {
  outline: none;
}

.container-form-uniform form input {
  padding: 1rem;
  border: 1px solid var(--line-color);
  font-size: 1.5rem;
}

.container-form-uniform form button {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.7rem;
}

/* ======================= UNIFORM DETAILS ================== */

.uniform-details {
  display: flex;
  margin: 5rem 4% 1rem 4%;
  height: auto;
  background: #fdfdfd;
}

.uniform-details .container-image-elem1 {
  width: 40%;
  border-right: 1.5px solid #c5cbc8;
  padding: 1rem;
  display: flex;
}

.container-image-elem1 img {
  margin: auto;
  width: 80%;
  height: auto;
} 

.uniform-details .container-content-elem2 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 60%;

}

.container-content-elem2 h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.container-content-elem2 h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.container-content-elem2 h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;

}

.container-content-elem2 .div-details {
  border-bottom: 1.5px solid #c5cbc8;
  margin-bottom: 1.5rem;
}

.container-content-elem2 .div-talla h2 {
  font-size: 2rem;
}

.container-content-elem2 input {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.container-content-elem2 button {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
  width: 20rem;
  margin: auto;
  cursor: pointer;
}

/* ======================== SHOP CART PAGE ======================== */

.container-cart {
  padding: 1.7rem 4%;
}

.container-cart .title {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 3rem 0;
}

.container-cart .main {
  display: flex;
  gap: 2rem;
}

.container-cart .main .article {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 2rem;
}

.container-cart .main .article .cart-item {
  display: flex;
  border: 1px solid var(--line-color);
  padding: 2rem;
  justify-content: space-between;
}

.article .div h3 {
  font-size: 1.7rem;
  padding-bottom: 1.5rem;
}

.article .div-img {
  width: 8rem;
  /* height: 10rem; */
  background-color: #5a189a;
}

.article .div-img img {
  width: 100%;
  object-fit: cover;
}

.container-cart .main .summary {
  padding: 2rem;
  border: 1px solid var(--line-color);
  width: 35%;
  height: 30rem;
}

.summary h2 {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.summary .sub-total {
  font-size: 1.4rem;
  padding: 1rem;
  border: 1px solid var(--line-color);
}

.summary .total {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  font-size: 1.7rem;
  padding: 1rem;
  border: 1px solid var(--line-color);
  margin-bottom: 3rem;
}

.summary .button {
  /* margin-top: 3rem; */
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
  width: 20rem;
  margin: auto;
  cursor: pointer;
}

/* ======================= WISHLIST PAGE ================== */

.wishlist-main {
  padding: 1.7rem 4%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.5rem;
}

.wishlist-title {
  padding: 1.7rem 4%;
  font-size: 2.5rem;
  font-weight: 500;
}

.wishlist-box {
  display: flex;
  gap: 2.5rem;
  padding: 1rem;
  border: 1px solid var(--line-color);
}

.wishlist-box .div-img {
  width: 15rem;
  background: #6a6a6a;
  margin: auto;
}

.wishlist-box img {
  max-width: 100%;
  object-fit: cover;
}

.wishlist-box .div-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wishlist-box .div-text h2, h3, p {
  font-size: 1.7rem;
  color: #6a6a6a;
}

/* ======================= FORM-CREATE-UPDATE ================== */

.container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* background: #e8ebe9; */
  padding: 2rem 10%;
}

.container-form-user {
  background-color: #e8ebe9;
}

.container-form h3 {
  font-size: 3rem;
  padding: 3rem;
  text-align: center;
  background-color: #e8ebe9;
}

.container-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 20rem 3rem 20rem;
}

.container-form form input {
  font-size: 1.5rem;
  padding: 1rem;
}

.container-form form button {
  font-size: 2rem;
  color: #ffffff;
  margin: 2rem auto;
  padding: 1rem 5rem;
  border: none;
  background-color: #008a00;
  border-radius: 4px;
}

.container-form form button:hover {
  cursor: pointer;
} 

.container-form form p {
  color: #e51c1f;
  font-size: 1.2rem;
}

/* ======================= LOGIN-USER ================== */

.section-login {
  display: flex;
  margin: 2rem 10%;
  background-color: #e8ebe9;
}

.container-login {
  width: 60%;
  display: flex;
  flex-direction: column;
  border-right: 1.5px solid #c5cbc8;
}

.container-login h3 {
  font-size: 4rem;
  padding: 3rem;
  text-align: center;
  color: #1a5350;
}

.container-login form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 7rem 3rem 7rem;
  font-size: 2rem;
}

.container-login form input {
  font-size: 1.5rem;
  padding: 1rem;
}

.container-login form button {
  font-size: 2rem;
  color: #ffffff;
  margin: 2rem auto;
  padding: 1rem 5rem;
  border: none;
  background-color: #008a00;
  border-radius: 4px;
}

.container-login form button:hover {
  cursor: pointer;
} 

.container-register {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 3rem 7rem;
}

.container-register h3 {
  font-size: 3rem;
}

.container-register p {
  font-size: 2rem;
  padding: 2rem 0;
}

.container-register a {
  margin: 2rem auto;
  font-size: 2rem;
  color: #008a00;
  padding: 1rem 5rem;
  border: 1px solid #008a00;
  border-radius: 4px;
  text-decoration: none;
}

/* ======================= PERFIL ================== */

.section-perfil {
  margin: 2rem 4%;
  display: flex;
}

.section-perfil .nav-perfil {
  width: 30%;
  border-right: 1px solid var(--line-color);
  padding-left: 1rem;
}

.nav-perfil .div-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-perfil .div-perfil h2 {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.nav-perfil .div-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #7b2cbf;
  display: grid;
  place-items: center;
  margin-bottom: 2.5rem;
  
}

.nav-perfil .div-icon span {
  font-size: 5rem;
  color: #fdfdfd;
  position: absolute;
}

.nav-perfil h3 {
  background: #fdfdfd;
  font-size: 1.7rem;
  padding: 1.5rem 0;
  color: #000;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 500;
}

.nav-perfil h3:hover {
  background: #704bb2;
} 

.nav-perfil h4 {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 0;
  margin-top: 2rem;
  background: #fdfdfd;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}