<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>red-social-fashion</title>
</head>
<body>

    <header class="header">
        <a href="/" class="logo">Logo</a>



        <nav class="navbar">
            <a href="" class="login">login</a>
            <a href="/user/register" class="register">register</a>
        </nav>
    </header>

    <section class="section">
        <aside class="aside"></aside>
        <main class="main"></main>
        <article class="article"></article>
    </section>
</body>
</html>